/* Hero Styles */

.hero-show {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  color: #222222;
}

.hero-show .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15% 0 50px;
  width: 50vw;
}

.hero-show .text h1 {
  margin-bottom: 35px;
}

.hero-show .text p {
  font-size: 22px;
}

.hero-show img {
  width: 50vw;
  height: auto;
}

/* Project Styles */

.project {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
  overflow-x: hidden;
  color: #222222;
}

.project img {
  width: 100vw;
  height: auto;
}

.side-side {
  display: flex;
  flex-direction: row;
}

.project-text {
  padding: 50px 15% 10px 40px;
  box-shadow: -10px 10px 70px rgba(0, 0, 0, 0.14);
}

.project-text h1 {
  margin-bottom: 30px;
}

.project-text h3 {
  margin-bottom: 50px;
}

.project-link {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-link a {
  text-decoration: none;
  color: #222222;
  margin-right: 10px;
  transition: all 0.3s linear;
}

.project-link a:hover {
  color: #027bff;
  margin-right: 15px;
}

.project-link img {
  width: 14.72px;
  height: auto;
}

/* Media Queries */

@media (max-width: 980px) {
  .hero-show img {
    width: 90vw;
  }
  .hero-show {
    flex-direction: column;
  }
  .hero-show .text {
    padding: 0 5% 0 50px;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .side-side {
    flex-direction: column;
  }
  .project-text {
    padding: 50px 5%;
  }
}